<div class="container main">
    <div class="page-header">
        <h3>{{ 'flow.' + config.flowName + '.passive.title' | translate }}</h3>
    </div>
    <form role="form">
        <div class="form-group" ng-repeat="field in config.data">
            <label>{{ 'flow.' + config.flowName + '.fields.' + field.name | translate }}</label>
            <div ng-if="field.inputType === 'select'">{{ 'flow.' + config.flowName + '.fields.' + field.name + '-option.' + field.value | translate }}</div>
            <div ng-if="field.inputType === 'date'">{{ field.value | date : 'yyyy-MM-dd' }}</div>
            <div ng-if="!field.inputType === 'select' || !field.inputType === 'date'">{{field.value}}</div>
        </div>
        <div class="button-group">
            <button class="btn btn-primary btn-block" ng-repeat="action in config.actions" ng-click="makeAction(action)">
                {{'flow.' + config.flowName + '.passive.actions.' + action | translate }}
            </button>
        </div>
    </form>
</div>
