<div class="container main">
    <div class="page-header">
        <h3>{{ 'flow.' + config.flowName + '.form.title'| translate}}</h3>
    </div>
    <form role="form" name="flowForm" ng-submit="submit()" novalidate>
        <div class="form-group" ng-repeat="field in config.fields" data-ng-switch on="field.inputType">
            <div ng-switch-when="text">
                <label>{{'flow.' + config.flowName + '.fields.' + field.labelKey | translate}}</label>
                <input type="text" class="form-control" ng-model="data[field.name]" required="field.constraints.required"/>
            </div>
            <div ng-switch-when="date">
                <label>{{'flow.' + config.flowName + '.fields.' + field.labelKey | translate}}</label>
                <input type="text" class="form-control" pick-a-date="data[field.name]" ng-required="field.constraints.required"/>
            </div>
            <div ng-switch-when="select">
                <label>{{ 'flow.' + config.flowName + '.fields.' + field.labelKey | translate }}</label>
                <select class="form-control" ng-model="data[field.name]" ng-options="opt as 'flow.' + config.flowName + '.fields.' + field.name + '-option.' + opt | translate for opt in field.options">
                </select>
            </div>
        </div>
        <div class="btn-group"><button class="btn btn-primary btn-block" type="submit" translate="common.label.buttons.submit"></button></div>
    </form>
</div>
